mixin list(title, para)
    div
        h2=title
        p=para
        block
mixin listNav(title, email)
    div
        h2=title
        block

doctype html
html 
    head
        title Jean-Paul Hayek
        link(href="style.css",rel="stylesheet",type="text/css")
    body
        nav
            div.NavBar-title
                h2.title Electro
                h2.title-point .
            input(type="text" placeholder="recherche")

        div.container-sous-nav
            div.sous-nav-title
                h2.sous-nav-title2 Le Miel Libanais
                h3.sous-nav-subtitle Le plus bon miel aux monde
                h4.subtitle-sous-nav De
                h4.currency-sous-nav $
                h4.currency2-sous-nav 749
                h4.currency3-sous-nav 99
                button(type="submit" placeholder="Commencer a acheter") Commencer a acheter

            div.sous-nav-button
                div.cercle1
                div.cercle2
                div.cercle3


        div.container-images
            div.container-1-image
                img(src="honey.jpg", alt="honey")
                p.text1 CATCH BIG
                b.deals DEALS
                p.text1-1 ON HONEY
                p.shop-now SHOP NOW
                div.shop >
            div.container-2-image
                img(src="honey.jpg", alt="honey")
                p.text1 CATCH BIG
                b.deals DEALS
                p.text1-1 ON HONEY
                p.up UP TO
                b.currency 70
                p.currency1 %
                div.shop1 >
            div.container-3-image
                img(src="honey.jpg", alt="honey")
                p.text1 CATCH BIG
                b.deals DEALS
                p.text1-1 ON HONEY
                p.shop-now SHOP NOW
                div.shop >
            div.container-4-image
                img(src="honey.jpg", alt="honey")
                p.text1 CATCH BIG
                b.deals DEALS
                p.text1-1 ON HONEY
                  p.up UP TO
                b.currency 70
                p.currency1 %
                div.shop1 >

        div.container-right
            div.title-container-right
            h3.title-container-right Offre spéciale offre
            img(src="lulu.png", alt="honey")
            div.yellow-cercle 
                p.sauvegarder Sauvegarder 
                b.currency-save 30%
            p.blue-first Mode noir zapda exemple
            p.currency-lasting $350.00
            p.currency-lastingg $500.00
            div.deja
                p.deja-1 Déja vendu:
            b.six 6
            div.dispo
                p.dispoo Disponible:
            b.cinq 59
            div.loading
                div.loading2
            div.depeche-title
             h2.depeche-title Depeche-toi! L'offre se termine en
            div.cares
                div.carre1
                    h3.currencyyy 52
                    div.point :
                div.carre2
                    h3.currencyyyy 09
                    div.pointt :
                div.carre3
                    h3.currencyyyyy 00
                    div.pointtt :
                div.carre4
                    h3.currencyyyyy 29
                    