mixin list(title, para)
    div
        h2=title
        p=para
        block
mixin listNav(title, email)
    div
        h2=title
        block

doctype html
html 
    head
        title Jean-Paul Hayek
        link(href="style.css",rel="stylesheet",type="text/css")
    body
        nav
            div.NavBar
            h2.title Electro
            h2 .
            input(type="text" placeholder="recherche")

        
        div.UneClass
            +list("hello", "World")
            +list("glados", "wheatley")
        div#unTag
            +list("Un block", "qui claque")
                button Click me
                p Un aute
                div 
                    +list("Hello", "again")
