body {
	margin: 0;
	height: 100vh;
	font-family: sans-serif;
	overflow-x: hidden;
}

nav {
	display: flex;
	justify-content: space-around;
	background-color: white;
}

h2.title {
	font-size: 30px;
}

nav input[type=text] {
	width: 600px;
	height: 35px;
	border: 2px solid #fed701;
	border-radius: 50px;
	padding: 10px 10px 10px 10px;
}

input[type=text]::placeholder {
	color: black;
	padding-left: 10px;
	font-size: 15px;
}

.NavBar-title {
	display: flex;
	width: 100px;
}

h2.title-point {
	color: #f8d949;
	font-size: 30px;
}

.container-sous-nav {
	height: 70vh;
	background-image: url("background.jpg");
	background-color: #f7f7f7;
	background-size: 100%;
}

.sous-nav-title {
	display: flex;
	justify-content: center;
	margin-left: 30%;
}
h2.sous-nav-title2 {
	font-size: 50px;
	color: wheat;
	position: relative;
	top: 100px;
}

h3.sous-nav-subtitle {
	font-size: 30px;
	color: wheat;
	position: relative;
	top: 190px;
	right: 390px;
}

h4.subtitle-sous-nav {
	position: relative;
	font-size: 25px;
	right: 59%;
	top: 225px;
}

h4.currency-sous-nav {
	position: relative;
	font-size: 35px;
	right: 60%;
	top: 240px;
}

h4.currency2-sous-nav {
	position: relative;
	font-size: 45px;
	right: 60%;
	top: 250px;
}

h4.currency3-sous-nav {
	position: relative;
	font-size: 35px;
	right: 60%;
	top: 240px;
}

button[type="submit"] {
	position: absolute;
	width: 300px;
	height: 45px;
	border: 1px solid #fed701;
	background-color: #fed701;
	border-radius: 50px;
	top: 55%;
	right: 42%;
}

.sous-nav-button {
	display: flex;

	position: absolute;
	top: 75%;
	left: 50%;
}

.cercle1 {
	width: 25px;
	height: 15px;
	border: 1px solid #fed701;
	background-color: #fed701;
	border-radius: 20px;
}

.cercle2 {
	width: 15px;
	margin-left: 15px;
	height: 15px;
	border: 1px solid black;
	background-color: black;
	border-radius: 50%;
}

.cercle3 {
	width: 15px;
	margin-left: 15px;
	height: 15px;
	border: 1px solid black;
	background-color: black;
	border-radius: 50%;
}

.container-images {
	padding-top: 40px;
	height: 30vh;
	display: flex;
	justify-content: space-between;
	background-color: white;
}

.container-1-image {
	width: 300px;
	height: 200px;
	background-color: #f6f6f6;
	color: black;
}
p.text1 {
	position: relative;
	left: 60%;
	bottom: 55%;
}

b.deals {
	position: relative;
	left: 60%;
	bottom: 110px;
}
p.text1-1 {
	position: relative;
	bottom: 110px;
	left: 60%;
}

p.shop-now {
	position: relative;
	bottom: 75px;
	left: 58%;
}
.shop {
	width: 20px;
	height: 20px;
	border-radius: 50px;
	position: relative;
	background-color: yellow;
	bottom: 110px;
	left: 90%;
	font-size: 20px;
	color: violet;
	text-align: center;
}
.container-1-image img {
	width: 150px;
	height: 120px;
	position: relative;
	left: 15px;
	top: 15px;
}
.container-2-image {
	width: 300px;
	height: 200px;
	background-color: #f6f6f6;
}
.container-2-image img {
	width: 150px;
	height: 120px;
	position: relative;
	left: 15px;
	top: 15px;
}

p.up {
	width: 45px;
	position: relative;
	bottom: 100px;
	left: 60%;
}

b.currency {
	font-size: 40px;
	position: relative;
	bottom: 157px;
	left: 70%;
}
p.currency1 {
	position: relative;
	bottom: 205px;
	left: 85%;
}
.shop1 {
	width: 20px;
	height: 20px;
	border-radius: 50px;
	position: relative;
	background-color: #fed701;
	bottom: 240px;
	left: 91%;
	font-size: 20px;
	color: violet;
	text-align: center;
}

.container-3-image {
	width: 300px;
	height: 200px;
	background-color: #f6f6f6;
}
.container-3-image img {
	width: 150px;
	height: 120px;
	position: relative;
	left: 15px;
	top: 15px;
}
.container-4-image {
	width: 300px;
	height: 200px;
	background-color: #f6f6f6;
}

.container-4-image img {
	width: 150px;
	height: 120px;
	position: relative;
	left: 15px;
	top: 15px;
}

.container-right {
	width: 600px;
	height: 600px;

	border: 3px solid #fed701;
	margin-left: 20px;
	border-radius: 25px;
}

h3.title-container-right {
	width: 200px;
	color: #333e48;
	font-size: 25px;
	padding-left: 20px;
}

.container-right img {
	width: 60%;
	position: relative;
	left: 15%;
}

.yellow-cercle {
	width: 150px;
	height: 150px;
	background-color: yellow;
	border-radius: 50%;
	position: relative;
	bottom: 65%;
	left: 70%;
	text-align: center;
}
p.sauvegarder {
	position: relative;
	top: 35px;
	font-size: 20px;
}
b.currency-save {
	position: relative;
	top: 25px;
	font-size: 35px;
}
p.blue-first {
	font-size: 20px;
	color: #0062bd;
	position: relative;
	bottom: 30%;
	left: 30%;
}
p.currency-lasting {
	font-size: 30px;
	color: #ee0000;
	position: relative;
	bottom: 30%;
	left: 30%;
}

p.currency-lastingg {
	font-size: 30px;
	color: #969696;
	position: relative;
	text-decoration: line-through;
	bottom: 40.5%;
	left: 50%;
}

.deja {
	position: relative;
	bottom: 45%;
	font-size: 20px;
	left: 10px;
}

b.six {
	position: relative;
	bottom: 315px;
	font-size: 25px;
	left: 20%;
}

.dispo {
	position: relative;
	bottom: 60%;
	font-size: 20px;
	left: 70%;
}

b.cinq {
	position: relative;
	bottom: 405px;
	font-size: 25px;
	left: 87%;
}

.loading {
	position: relative;
	bottom: 65%;
	left: 3%;
	width: 550px;
	height: 30px;
	background-color: #eeeeee;
	border-radius: 50px;
}

.loading2 {
	position: relative;

	width: 100px;
	height: 30px;
	background-color: #fed701;
	border-radius: 50px;
}
